VITE_GITHUB_URL=https://github.com/lordlqft/
VITE_LINKEDIN_URL=https://www.linkedin.com/in/kennethanderson0/
VITE_EMAIL=lordlqft0@gmail.com

VITE_GITHUB_PROJECT1_URL=https://github.com/lordlqft/D20
VITE_GITHUB_PROJECT2_URL=https://github.com/lordlqft/semaforo-inteligente
VITE_GITHUB_PROJECT3_URL=https://github.com/lordlqft/SiteparaD
VITE_GITHUB_PROJECT4_URL=https://github.com/lordlqft/E_Sessao_002
